<%= form_with(model: [post, Comment.new] , html: { class: "comment-form" }) do |form| %>
  <div>
    <%= form.text_area :content, required: true %>
  </div>
  <div>
    <%= form.submit(t('helpers.submit.comment')) %>
  </div>
<% end %>
